@media only screen and (max-width:768px){
    .corporate-social-detail {
        padding: 3rem 5rem 3rem 3rem !important;
    }
    .corporate-image {
        position: unset;
        bottom: 0;
    }
    .corporate-image>img{
        width: 100%;
    }
}

@media only screen and (max-width:575px){
    .culture-block, .careers-block{
        padding: 3rem 2rem 3rem 2rem !important;
    }
    .corporate-social-detail {
        padding: 3rem 3rem 3rem 3rem !important;
    }
}
@media only screen and (max-width:425px){
    .career-desc {
        font-size: 12px;
    }
    .corporate-social-detail {
        padding: 2rem 1rem 2rem 1rem !important;
    }
    .corporate-desc {
        font-size: 2rem;
        line-height: 35px;
    }
}
@media only screen and (max-width:320px){
    .career-heading {
        font-size: 2rem;
        line-height: 44px;
    }
    .corporate-desc {
        font-size: 2rem;
        line-height: 30px;
    }
    
}
