@import url(https://use.typekit.net/hmv0qjj.css);
/* newa header */
.icon-button{
    padding-right: 34px;
}
.icon-button a {
    padding: 9px 25px 9px 25px;
    display: inline-block;
    vertical-align: middle;
    color:#605f5f;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.icon-button>nav>a>i, .icon-button>nav>a>svg {
    margin: 4px 7px 0px 0px;
    font-size: 18px;
}
.btn-box>a{
    padding: 10px 15px 10px 15px;
}
.btn-box>a:hover{
    text-decoration: none;
    color: #ef4023;
}
.menu-btn{
    padding: 10px 15px 10px 15px;
}

    .header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #f1f1f1;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
/* starr Css for header */

.navbar {
    padding: 15px 10px;
    background: #f1f1f1;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    right: -280px;
    height: 100vh;
    z-index: 999;
    background: #e7e7e7;
    color: #ef4023;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px -1px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #e7e7e7;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: none;
    color: #ef4023;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#e7e7e7;
}

#sidebar ul.components {
    padding: 0 10px 0 10px;
    border-bottom: 1px solid#e7e7e7;
}
.item-list{
    list-style-type: none;
    padding-left: 12px !important;
}
.item-list>li>a{
    color: #000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ef4023;
    background: none;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #ef4023;
    background: none;
}


.list-title{
    color: #ef4023;
}
.section-head{
    border-bottom: .6px solid #c5c1c1;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:#e7e7e7;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
#sidebarCollapse{
    outline: none !important;
    box-shadow: none;
}
#sidebarCollapse>img::after{
    content: "\e900";
    /* font-family: icomoon; */
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding-right: 10px;
}
/* header  and sidebar end */
.careers-block{
    background-color: #f1f1f1;
    color: #000;
    padding: 4rem 5rem 4rem 5rem !important;
}
.culture-block{
    padding: 4rem 5rem 4rem 5rem !important;
}

.button-desgin{
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    background: #638fff;
    margin: 0;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
.button-desgin:hover{
    text-decoration: none;
    color: #fff;
}
.span-careers{
    font-size: 18px;
    line-height: 38px;
    color: #261463;
    font-weight: 500;
}
.career-heading{
    font-size: 3rem;
    letter-spacing: 0px;
    line-height: 55px;
    color: #261463;
    font-weight: 400;
    font-family: "Oswald";
}
.career-desc{
    margin-bottom: 2rem;
}

.corporate-social-detail{
    background-color: #261463;
    color: #fff;
    padding: 3rem 5rem 3rem 12rem !important;
    z-index: -10;
}
.corporate-desc{
    font-size: 3rem;
    line-height: 50px;
}
.corporte-block{
    position: relative;
}

.corporate-image{
    position: absolute;
    bottom: 3rem;
}
